[submodule "vim/.vim/pack/plugins/start/vim-polyglot"]
    path = vim/.vim/pack/plugins/start/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot

[submodule "vim/.vim/pack/plugins/start/vim-gitgutter"]
    path = vim/.vim/pack/plugins/start/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/pack/coc/start/coc.nvim"]
	path = vim/.vim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
